:root{
    /* << 색상 >> */
    /* login page */
    --login-background-page-color : rgb(233, 236, 244);
    --login-title-font-color : rgb(0,0,0);

    /* Main layout */
    --header-background-color : #292c2f;
    --header-border-bottom-color : #ccc;
    --header-font-color : #fff;
    --header-tab-selected-font-color : #608bd2;
    --header-select-border-color : #fff; 

    --main-page-background-color : #eaf0f2;

    /* HouseholdHistory Page */
    --householdhistory-background-color : #fff;
    --householdhistory-bar-background-color : #b8bebf;
    --householdhistory-bordoer-color : #999;
    --householdhistory-font-color : #555;


    /* 크기 */
    /* Main page */
    --header-height : 80px;
    --date-height : 64px;
    --main-padding : 10px;

    /* Book layout */
    --book-left-width : 330px;
    --householdhistory-height : 200px;

    /* Book Spending */
    --tool-bar-height : 40px;
    
    /* 공통 */
    --tab-header-height : 30px;
    --page-top-bar-background-color : #b8bebf;
}

